
<div class="grid-home">
    <app-side></app-side>
    <app-header></app-header>
    <main>
        <section class="main-content">
            <h2>Dashboard</h2>
            <span>Bienvenido de nuevo Juan</span>
            <div class="shadow w-30 my-32">

            </div>
            <h2>Actividades</h2>
            <div class="shadow w-30 my-32">

            </div>
            <h2>Información</h2>
            <div class="grid-info my-32">
                <div class="grid-item-1 shadow">

                </div>
                <div class="grid-item-2 shadow">

                </div>
                <div class="grid-item-3 shadow">

                </div>
                <div class="grid-item-4 shadow">

                </div>
                <div class="grid-item-5 shadow">

                </div>
            </div>
        </section>
        <aside class="aside-content">
            <div class="shadow mt-48">
                <button class="btn__primary btn-aside">Ir</button>
            </div>
            <div class="shadow"></div>
            <div class="shadow"></div>
        </aside>
    </main>
</div>